
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Share Tech Mono', monospace; */
  /* background-color: #FFF9F0; */
}

img{
  pointer-events: none;
}

.main-body{
  color: #402D28;
  background-color: #FFF9F0;
  
}
/* .timeline-root{
  background-color: red;
  width: 100vw;
  height: 100vh;
} */

.body-inicio{
  margin-top: 5rem !important;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}


.body-about{
  margin-top: 5rem !important;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.navbar-main{
  /* background-color: red; */
  /* color: #402D28 !important; */
}
.navbar-link{
  /* color: #402D28 !important; */
}

.character1{
  width: 35rem;
}

.character2{
  width: 35rem;
  background-image: url('../src/assets/img/bg-character2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text-left-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40vw;
  /* width: 50%; */
}

.image-character{
  background-image: url('../src/assets/img/bg-character1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 555px) {
  .image-character {
    /* width: 100%; */
    /* gap: 10rem; */
  }

  .character1 {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .text-left-about {
    margin: 1rem;
    width: 50%;
  }

  .character2 {
    width: 90%;
  }
}
@media only screen and (max-width: 1200px) {
  .text-left-about {
    margin: 1rem;
    width: 70%;
  }

  .character2 {
    /* width: 90%; */
  }
  .image-character2{
    width: 90%;
    margin-bottom: 7rem;
  }
}
.image-character2{
  
}


.btn-action{
  background-color: #5BC859;
  border: none;
  padding: 1rem;
  color: #FFF9F0;
}
.btn-action a{
  color: #FFF9F0;
}
.btn-action a:hover{
  opacity: 80%;
  color: #FFF9F0;
}
.btn-message{
  background-color: #5BC859;
  border: none;
  padding: 1rem;
  color: #FFF9F0;
}
.btn-message a{
  color: #FFF9F0;
}
.btn-message a:hover{
  opacity: 80%;
  color: #FFF9F0;
}

.front-end{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #5BC859;
}

h6{
  color: #878787;
}
h5{
  color: #878787;
}

p{
  text-align: start;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.container-timeline {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  /* background-color: #111; */
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #FFF9F0;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -14px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -46px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: #5BC859;
  }
}

.date{
  color: #402D28 !important;
}
.timeline ul li{
  background-color: #402D28;
  text-align: start;
}

.card-content{
  /* padding: 200px; */
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 100)
  );

}
.box-cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 1rem; */
  /* margin-bottom: 5rem; */
}
.body-project{
  /* width: 90vw; */
}
.card-title{
  color: #FFF9F0;
}
.card-img{
  /* width: 100vw; */
}
.card-img img{
  width: 100%;
}
.card-text-top{
/* text-align: start; */
margin: 2.5rem;
}
.card{
  /* position: relative; */
  width: 1000px;
  height: 500px;
  color: #FFF9F0;
  /* background: url('./assets/img/solve_app.png') center no-repeat; */
  background-size: cover;
  /* border-radius: 50px; */
  overflow: hidden;
  margin: auto;
  /* margin-top: 100px */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: start;
  margin-bottom: 5rem;
}
.card a{
  color: #FFF9F0;
}
.card_content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
  padding-bottom: 28px;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    #402D28
  );
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
}

.card_title{
  color: #FFF9F0;
  line-height: 5px;
  margin-bottom: 25px;
}
.card_subtitle{
  display: block;
  font-size: 16px;
  line-height: 10px
    
}
.card_description{
  font-size: 14px;
  opacity: 0;
  width:92%;
  transition: opacity .5s;
}
.card:hover .card_content{
  transform: translateY(0);
}
.card:hover .card_description{
  opacity: 1;
  transition-delay: .25s;
}

@media only screen and (max-width: 1100px) {
  .card{
    position: relative;
    width: 800px;
    height: 400px;
    
  }
  /* img{
    width: 400px
  } */
  /* .container-text{
    width: 100vw;
    text-align: start;
  } */
}
@media only screen and (max-width: 850px) {
  .card{
    position: relative;
    width: 600px;
    height: 300px;
    
  }
}
@media only screen and (max-width: 675px) {
  .card{
    position: relative;
    width: 350px;
    height: 175px;
    
  }
  img{
    width: 350px;
  }
}

.title-proj-comp{
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.container-main-projects{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.container-text{
  width: 40vw;
  text-align: start;
}
.container-image {
  /* width: 500px */
}

img{
  /* width: 500px */
}

.ul-participantes li{
  margin-top: 20px;
}

.btn-ver{
  background-color: #5BC859;
  border: none;
  padding: 1rem;
  color: #FFF9F0;
}

.nav-active{
  background-color: red;
  color: #FFF9F0;
}

button{
  transition: all 0.2s ease-out;
}
button:hover{
  transform: scale(1.05);
  transition: all 0.4s ease-out;
  background-color: #402D28;
  color: #FFF9F0;
  opacity: 100%;
}