
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Share Tech Mono', monospace; */
  /* background-color: #FFF9F0; */
}



.main-body{
  color: #402D28;
  background-color: #FFF9F0;
  
}

.body-inicio{
  margin-top: 5rem !important;
}
.body-about{
  margin-top: 5rem !important;
  margin-left: 14rem !important;
  margin-right: 14rem !important;
}

.navbar-main{
  /* background-color: red; */
  /* color: #402D28 !important; */
}
.navbar-link{
  /* color: #402D28 !important; */
}

.character1{
  width: 35rem;
}

.character2{
  width: 35rem;
  background-image: url('../src/assets/img/bg-character2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.image-character{
  background-image: url('../src/assets/img/bg-character1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-character2{
  
}


.btn-action{
  background-color: #5BC859;
  border: none;
  padding: 1rem;
  color: #FFF9F0;
}
.btn-action a{
  color: #FFF9F0;
}
.btn-action a:hover{
  opacity: 80%;
  color: #FFF9F0;
}
.btn-message{
  background-color: #5BC859;
  border: none;
  padding: 1rem;
  /* color: #FFF9F0; */
}
.btn-message a{
  color: #FFF9F0;
}
.btn-message a:hover{
  opacity: 80%;
  color: #FFF9F0;
}

.front-end{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #5BC859;
}

h6{
  color: #878787;
}
h5{
  color: #878787;
}

p{
  text-align: start;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.container-timeline {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  /* background-color: #111; */
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #FFF9F0;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -14px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -46px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: #5BC859;
  }
}

.date{
  color: #402D28 !important;
}
.timeline ul li{
  background-color: #402D28;
  text-align: start;
}

/* .nav-active a{
  color: #5BC859;
} */

.card-projects{
  /* background-image: url('./assets/img/solve_app.png'); */
  /* padding: 15rem; */
  background-color: #402D28;
  padding: 10rem;
}
.card-content{
  /* padding: 200px; */
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 100)
  );

}
.project-1{
  width: 100%;
}
.card-title{
  color: #FFF9F0;
}
.card{
  position: relative;
  width: 70rem;
  height: 500px;
  color: #FFF9F0;
  background: url('./assets/img/solve_app.png') center no-repeat;
  background-size: cover;
  /* border-radius: 50px; */
  overflow: hidden;
  margin: auto;
  /* margin-top: 100px */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: start;
}
.card a{
  color: #FFF9F0;
}
.card_content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px;
  padding-bottom: 28px;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    #402D28
  );
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
}

.card_title{
  color: #FFF9F0;
  line-height: 5px;

}
.card_subtitle{
  display: block;
  font-size: 16px;
  line-height: 10px
    
}
.card_description{
  font-size: 14px;
  opacity: 0;
  width:92%;
  transition: opacity .5s;
}
.card:hover .card_content{
  transform: translateY(0);
}
.card:hover .card_description{
  opacity: 1;
  transition-delay: .25s;
}